<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>StoryProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>LoginRequestHadler</display-name>
    <servlet-name>LoginRequestHadler</servlet-name>
    <servlet-class>com.cnsi.story.servlets.LoginRequestHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginRequestHadler</servlet-name>
    <url-pattern>/LoginRequestHadler</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>BusinessAreaHandler</display-name>
    <servlet-name>BusinessAreaHandler</servlet-name>
    <servlet-class>com.cnsi.story.servlets.BusinessAreaHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessAreaHandler</servlet-name>
    <url-pattern>/BusinessAreaHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>StoryDetailsRequestHandler</display-name>
    <servlet-name>StoryDetailsRequestHandler</servlet-name>
    <servlet-class>com.cnsi.story.servlets.StoryDetailsRequestHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoryDetailsRequestHandler</servlet-name>
    <url-pattern>/StoryDetailsRequestHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>StoryUpdateRequestHandler</display-name>
    <servlet-name>StoryUpdateRequestHandler</servlet-name>
    <servlet-class>com.cnsi.story.servlets.StoryUpdateRequestHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoryUpdateRequestHandler</servlet-name>
    <url-pattern>/StoryUpdateRequestHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CreateNewStoryHandler</display-name>
    <servlet-name>CreateNewStoryHandler</servlet-name>
    <servlet-class>com.cnsi.story.servlets.CreateNewStoryRequestHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNewStoryHandler</servlet-name>
    <url-pattern>/CreateNewStoryHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.cnsi.story.servlets.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CreateUserHandler</display-name>
    <servlet-name>CreateUserHandler</servlet-name>
    <servlet-class>com.cnsi.story.servlets.CreateUserHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserHandler</servlet-name>
    <url-pattern>/CreateUserHandler</url-pattern>
  </servlet-mapping>
</web-app>