body,html {
	background: #444;
	text-align: center;
	padding: 0px 0;
}

/* The CSS */
/* select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding.
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
} */
label {
	position: relative
}

label:after {
	content: '<>';
	font: 11px "Consolas", monospace;
	color: #aaa;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	right: 8px;
	top: 2px;
	padding: 0 0 2px;
	border-bottom: 1px solid #ddd;
	position: absolute;
	pointer-events: none;
}

label:before {
	content: '';
	right: 6px;
	top: 0px;
	width: 20px;
	height: 20px;
	background: #f8f8f8;
	position: absolute;
	pointer-events: none;
	display: block;
}

/* p{
	margin-left: 200px; */
display
:block
;

	
font-family
:
 
"
Helvetica
 
Neue
"
,
Helvetica
,
Arial
,
sans-serif
;

  
font-size
:
 
14
px
;

  
line-height
:
 
1
.42857143
;

  
color
:
 
#FAF6F6
;

  
background-color
:
 
#555
;


}
a {
	margin-left: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #FAF6F6;
	background-color: #555;
}

* /

.button {
	background: #DFDFDF url('../img/forward.png') no-repeat right;
	background: url('../img/forward.png') no-repeat right;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	width: 3%;
	height: 20px;
	color: #525252;
	line-height: 25px;
	border-radius: 25px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	max-width: 800px;
	height: 800px;
	background: #555;
	padding: 20px 30px 20px 30px;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #D3D3D3;
	text-shadow: 1px 1px 1px #444;
	border: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* 
.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
 */
select {
	margin: 50px;
	margin-right: 10px;
	border: 1px solid #111;
	background: transparent;
	width: 250px;
	padding: 5px 35px 5px 5px;
	font-size: 16px;
	border: 1px solid #ccc;
	height: 34px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url("../img/downArrow.png") 99%/10% no-repeat #eee;
	color: black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 17px;
}
/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) {
	select {
		background: none;
		padding: 5px;
	}
}

.button {
	-moz-box-shadow:inset 0px 0px 15px -3px #f9eca0;
	-webkit-box-shadow:inset 0px 0px 15px -3px #f9eca0;
	box-shadow:inset 0px 0px 15px -3px #f9eca0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e) );
	background:-moz-linear-gradient( center top, #f0c911 5%, #f2ab1e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e');
	background-color:#f0c911;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:-5px;
	border:1px solid #fcfcfc;
	display:inline-block;
	color:#242222;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	height:32px;
	line-height:36px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ded17c;
	padding-bottom: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 17px;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #f0c911) );
	background:-moz-linear-gradient( center top, #f2ab1e 5%, #f0c911 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911');
	background-color:#f2ab1e;
}.button:active {
	position:relative;
	top:1px;
}